body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
}
main{
    box-sizing: border-box;
    margin-top: 1.17rem;
    width: 100%;
    border:1px solid transparent;
    margin-bottom: 1.2rem;
}
// 居中
.mc{
    margin: 0 auto;
    width: 80%;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.fill{
    width: 100%;
    height: 100%;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.clearfix{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paddingTop{
    padding-top: 1.95rem;
}

@keyframes backOpacity{
   0%   { opacity: 1 }
   25%  { opacity: .5 }
   50%  { opacity: 1 }
   75%  { opacity: .5 }
   100% { opacity: 1 }
}

.animation_opactiy{
    animation: backOpacity 2s ease-in-out infinite;
}

// 导航栏
.van-nav-bar{
    position: fixed;
    top: 0px;
    width: 100%;
}
.van-nav-bar__arrow{
    font-size: 0.6rem;
}
.van-nav-bar__title{
    font-size: 0.42rem;
}
.van-nav-bar{
    height: 1.2rem;
    line-height: 1.2rem;
}
i.van-swipe__indicator{
    width: 0.2rem;
    height: 0.2rem;
    background-color:#999;
}
i.van-swipe__indicator--active{
    background-color:#00CF0D;
}
.van-rate{
    display: inline-block !important;
}
.van-rate__item{
    font-size: 12px !important;
}

